$white: #ffffff;
$black: #000000;

// Grays
$grey-50: #FAFAF9;
$grey-100: #F5F5F4;
$grey-200: #E7E5E4;
$grey-300: #D6D3D1;
$grey-400: #A8A29E;
$grey-500: #78716C;
$grey-600: #57534E;
$grey-700: #44403C;
$grey-800: #292524;
$grey-900: #1C1917;
$grey-950: #0C0A09;

// Green
$green-50: #F0FDF4;
$green-100: #DCFCE7;
$green-200: #BBF7D04;
$green-300: #86EFAC;
$green-400: #4ADE80;
$green-500: #22C55E;
$green-600: #16A34A;
$green-700: #15803D;
$green-800: #166534;
$green-900: #14532D;
$green-950: #052E16;

// Red
$red-50: #FEF2F2;
$red-100: #FEE2E2;
$red-200: #FECACA;
$red-300: #FCA5A5;
$red-400: #F87171;
$red-500: #EF4444;
$red-600: #DC2626;
$red-700: #B91C1C;
$red-800: #991B1B;
$red-900: #7F1D1D;
$red-950: #450A0A;

$base: #D9D0C2;
$green: #006633;
$red: #C80000;
