@use "../colors";
@use "../sizing";
@use "../fonts";
@use "../typography";

section.camps {
	width: 100%;
	background: linear-gradient(0deg, #D9D0C2 0%, #D9D0C2 100%), url('topography.png') lightgray 0% 0% / 100px 100px repeat;
	background-blend-mode: multiply, normal;
		
		color: colors.$black;
		padding-left: sizing.$s-8;
		padding-right: sizing.$s-8;
		padding-bottom: sizing.$s-8;
	h2 {
		font-family: fonts.$accent-font;
		color: colors.$red;
		text-align: center;
		font-size: typography.$text-6xl;
		padding: sizing.$s-8 0;
	}
	div.grid-wrapper {
		width: 100%;
		max-width: sizing.$s-3xl;
		margin-left: auto;
		margin-right: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: sizing.$s-8;
		@media (min-width: 820px){
			grid-template-columns: 1fr 1fr 1fr;
		}

		article {
			justify-self: center;
			text-align: center;
			img {
				width: sizing.$s-28;
				height: sizing.$s-28;
				object-fit: cover;
				background-color: colors.$red;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: sizing.$s-2;
				border-radius: 1000px;
				border: 2px solid colors.$red;
			}
			div.images {
				display: flex;
				justify-content: center;
				max-width: 100%;
			}
			h3 {
				font-family: fonts.$accent-font;
				font-size: typography.$text-3xl;
				color: colors.$green;
			}
			p {
				font-family: fonts.$main-font;
				font-size: typography.$text-base;
				max-width: 100%;
				font-weight: 600;
				// line-height: typography.$lh-base;
			}
		}
	}
}