@use "../colors";
@use "../sizing";
@use "../fonts";
@use "../typography";

section.essential {
	width: 100%;
	background-color: colors.$base;
	display: flex;
	flex-direction: column;
	align-items: center;
		
		color: colors.$black;
		padding-left: sizing.$s-8;
		padding-right: sizing.$s-8;
		padding-bottom: sizing.$s-8;
	h2 {
		font-family: fonts.$accent-font;
		color: colors.$green;
		text-align: center;
		font-size: typography.$text-6xl;
		padding: sizing.$s-8 0;
	}
	details {
		font-family: fonts.$main-font;
		font-weight: 500;
		font-size: typography.$text-xl;
		width: sizing.$s-md;

		summary {
			font-size: typography.$text-2xl;
			background-color: colors.$green;
			color: colors.$base;
			padding: sizing.$s-2;

		}
		div.answer {
			padding: sizing.$s-2 sizing.$s-2 sizing.$s-4 sizing.$s-2;

			h4 {
				margin-top: sizing.$s-4;
			}
			a.download {
				display: flex;
				margin: 0 auto;
				align-items: center;
				justify-content: center;
				background-color: colors.$red;
				padding: sizing.$s-2 sizing.$s-6;
				border-radius: 1000px;
				text-decoration: none;
				color: colors.$base;
				font-weight: 700;
				text-transform: uppercase;
				svg {
				width: sizing.$s-4;
				height: sizing.$s-4;
				margin-right: sizing.$s-2;
			}

				&:hover {
					background-color: colors.$red-900;
				}
			}
		}

	}
	
	}
