@use "../colors";
@use "../sizing";

section.hero {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	background-color: colors.$grey-950;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	padding: sizing.$s-8 sizing.$s-4;
	gap: sizing.$s-4;	
	@media (min-width: 820px){
		grid-template-columns: repeat(12, minmax(0, 1fr));
		grid-template-rows: 1fr;
	}
	
 	div.text {
 		justify-self: center;
 		align-self: center;
 		 		height: 100px;
 		@media (max-width: 820px){
		grid-column: 1/2;
		grid-row: 1/2;
		}
		@media (min-width: 820px){
			grid-column: 2/5;
		}
 		h1 {
 			width: 100%;
 			margin-bottom: sizing.$s-4;
 			@media (max-width: 820px){
			max-width: sizing.$s-48;
			margin-left: auto;
			margin-right: auto;
			
			}
 			img {
 				object-fit: contain;
 			}
 		}
 		p {
 			color: colors.$white;
 			text-align: center;
 			display: inline-flex;
 			align-items: center;
 			justify-content: center;
 			width: 100%;
 			svg {
 				margin-right: sizing.$s-2;
 				height: sizing.$s-4;
 				width: sizing.$s-4;
 			}
 		}
 	}
 	video {
 		width: 100%;
 		
 		@media (max-width: 820px){
		grid-column: 1/2;
		grid-row: 2/3;
		}
		@media (min-width: 820px){
			grid-column: 6/12;
		}
 	}

}

